.require-box {
    background-color: #8fd0f0;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
}
.fq, .sq{
    font-size: 1.5vw;
}
.fq{
    display: flex;
    width: 25vw;
    flex-direction: row;
    justify-content: space-around;
}
input[type="text"] {
    background-color: #c5ebfd;
    border-radius: 30px;
    width: 20vw;
    height: 5vh;
}
input::placeholder{
    font-size: 1vw;
}
input{
    box-sizing: border-box;
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    border-bottom:0px;
}
button {
    border: none;
    background-color: #4B53FF;
    border-radius: 0 0 15px 15px;
    font-size: 1.5vw;
    width: 40vw;
    height: 5vh;
}